*{
  margin: 0;
  box-sizing: border-box;
}
.loginBox{
  width: 588px;
  height: 576px;
  background-color:rgb(230, 227, 227);
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
  text-align: center;
}
.desktopTimer,.mobileTimer{
  margin-top: 100px;
}
.timer{
  display: flex;
  justify-content: space-around;
}
.mobileTimer_box{
  width: 379px;
  height: 404px;
  background-color: #C4C4C4;
}
.mobileTimer h2,.mobileTimer p{
  margin-left: 160px;
}
.mobileTimer img{
  margin-left: 100px;
  margin-top: 50px;
}
.loginBox_box{
  padding-top: 200px;

}
.loginBox_box input{
  background-color: rgb(230, 227, 227);
  border: none;
  margin-top: 20px;
}
.loginBox_box button{
  margin-top: 15px;
  width: 277px;
  height: 73px;
  background-color: #828282;
  border-radius: 63px;
}
.navLink_Register{
  display: flex;
  margin-left: 180px;
  margin-top: 20px;
}
